#drople {
  background: #f9f9f9;
  margin: 1%;
  border: dashed;
  border-radius: 5px;
  height: fit-content;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.drople-img {
  background-position: center;
  background-size: cover;
  text-align: right;
}

.status-s {
  color: #2af3328a;
  font-size: 2em;
  padding: 1px 3px;
  text-align: center;
  border-radius: 50px;
  border: solid 5px #2af3328a;
}

[class*="col-"] {
  padding: 5px;
  border: 1px solid #ffffff;
  margin: 1%;
}

.d-col-1 {
  width: 8.33%;
}

.d-col-2 {
  width: 16.66%;
}

.d-col-3 {
  width: 25%;
}

.d-col-4 {
  width: 33.33%;
}

.d-col-5 {
  width: 41.66%;
}

.d-col-6 {
  width: 50%;
}

.d-col-7 {
  width: 58.33%;
}

.d-col-8 {
  width: 66.66%;
}

.d-col-9 {
  width: 75%;
}

.d-col-10 {
  width: 83.33%;
}

.d-col-11 {
  width: 91.66%;
}

.d-col-12 {
  width: 100%;
}